<table class="mat-table" mat-table [dataSource]="GridArray" matSort>

    <!-- Id Column -->
    <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td mat-cell *matCellDef="let i = index"> {{ i + 1 }} </td>
    </ng-container>


    <!-- Other Columns -->
    <ng-container *ngFor="let header of tableData" [matColumnDef]="header.FieldName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ header.Head }} </th>
        <td mat-cell *matCellDef="let row"> {{ row[header.FieldName] }} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions" *ngIf="isAdmin">
        <th mat-header-cell *matHeaderCellDef> Akcije </th>
        <td mat-cell *matCellDef="let row">
            <button class="primary" mat-flat-button (click)="edit(row)" *ngIf="showIzmeniDugme">
                izmeni
            </button>

            <button class="warn" mat-flat-button color="warn" (click)="delete(row.id)" *ngIf="showUkloniDugme">
                ukloni
            </button>
            <button class="primary" mat-flat-button color="primary" (click)="g_view(row)" *ngIf="showViewButton">
                View
            </button>

        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>