.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

td,
th {
    border: 1px solid black;
    padding: 15px;
}

th {
    font-weight: bold;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
}