p {
    color: red;
}

form,
h2,
p {
    margin-left: 30%;
}

input {
    margin: 10px;
}

.example-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
}

.wrapper {
    text-align: center;
}

h2 {
    margin-top: 20px;
    margin-left: 20px;
}

form {
    margin-top: 50px;
}

.example-full-width {
    width: 100%;
}