/* .input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
}

.input-item {
    flex: 1 1 calc(25% - 1rem);
    min-width: 200px;
} */
.wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.example-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

input {
    margin: 10px;
}

form {
    margin-top: 50px;
}