.wrapper {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.example-form {
    min-width: 150px;
    max-width: 600px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

input {
    margin: 10px;
}

form {
    margin-top: 50px;
}